body{
	padding: 0;
	margin: 0;
	font-family: Helvetica;
}

.black{
	color: #171718;
}

.blue{
	color: #1B93C7;
}

.red{
	color: #FC5760;
}

.green{
	color: #86D854;
}

.purple{
	color: #6b5194;
}

.grey{
	color: #E6E6E6;
}

h1{
	font-family: Helvetica;

}

h2{
	font-family: Helvetica;
}