
.tic-tac-toe {
	font-family: 'Open Sans', sans-serif;
	height: 444px;
	overflow: hidden;
	position: relative;
	width: 444px; background:rgba(255,255,255,.6); border-radius:10px;box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
}
/*@media (min-width: 300px) {
	.tic-tac-toe {
		height: 444px;
		width: 444px;
	}
}
*/
/*@media (min-width: 300px){
.tic-tac-toe label:after {
    font-size: 70px;
    margin-top: -35px;
}	
}
*/
.tic-tac-toe input[type="radio"]:checked + label > span{
    opacity: 1;
}

.tic-tac-toe label:hover > span {
    opacity: .4;
}

.tic-tac-toe input[type="radio"] {
	display: none;
}

.tic-tac-toe input[type="radio"]:checked + label {
	background-color: #dc685a
}

.tic-tac-toe input[type="radio"].player1 + label:after {content: "\f00d"}
.tic-tac-toe input[type="radio"].player2 + label:after {content: "\f10c"}


.tic-tac-toe label {
	background-color: #f2e0c4;
	border-radius: 14px;
	cursor: pointer;
	color: #fff;
	
	height: 40px;
	margin: 4px;
	position: absolute;
	width: 40px;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s
}

.tic-tac-toe label > span {
    left: 0;
    font-family: "FontAwesome";
    font-size: 22px;
    margin-top: -12.5px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    top: 50%;
    width: 100%;
}

.tic-tac-toe .game-menu {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0px;
    color: #3d4250;
    left: 0px;
    display: none;
    padding-top: 55px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    z-index: 11;
}
.tic-tac-toe #start-panel h1 {
   /*margin-bottom: 150px;*/
}
.tic-tac-toe #end-panel h1 {
    /*margin-bottom: 150px;*/
}
.tic-tac-toe #wait-panel h1 {
    margin-bottom: 100px;
}

.tic-tac-toe .game-menu a:hover {
	background-color: #32792D;
	-moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.tic-tac-toe .game-menu a {
    background-color: #52AD4C;
    border-radius: 4px;
    color: #fff;
    padding: 14px 45px;
    text-decoration: none;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.bubblingG {
	text-align: center;
	width:78px;
	height:49px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 24px auto;
	background: rgb(0,0,0);
	border-radius: 49px;
		-o-border-radius: 49px;
		-ms-border-radius: 49px;
		-webkit-border-radius: 49px;
		-moz-border-radius: 49px;
	animation: bubblingG 1.5s infinite alternate;
		-o-animation: bubblingG 1.5s infinite alternate;
		-ms-animation: bubblingG 1.5s infinite alternate;
		-webkit-animation: bubblingG 1.5s infinite alternate;
		-moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.45s;
		-o-animation-delay: 0.45s;
		-ms-animation-delay: 0.45s;
		-webkit-animation-delay: 0.45s;
		-moz-animation-delay: 0.45s;
}

#bubblingG_3 {
	animation-delay: 0.9s;
		-o-animation-delay: 0.9s;
		-ms-animation-delay: 0.9s;
		-webkit-animation-delay: 0.9s;
		-moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		transform: translateY(-20px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-o-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-o-transform: translateY(-20px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-ms-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-ms-transform: translateY(-20px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-webkit-transform: translateY(-20px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-moz-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-moz-transform: translateY(-20px);
	}
}