 .NavBarCollapsed {
    display: inline-block;
    overflow: hidden;
    width: 50;
    height: 100%;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;        
    -moz-transition: width 0.5s;        
    -o-transition: width 0.5s;         
  }
  .NavBarCollapsed.showMe {
    width: 250px;
  }

  .OptionButton{
    background-image: url(app/assets/UIpng/Options.png);
    background-position: center top;
    margin-top:20px;

    height: 100%;
    width: 50px;
    padding: 0px;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }